<h1>Timeline</h1>

<form action="/sign-out" method="post" id="sign-out">
<input type="submit" value="Sign Out" />
</form>

<ul class="posts">
  {{#each posts}}
	  <li>{{breaklines this.message}}
      <form id="like-form" action="/posts/like/{{this.id}}" method="post">
        <input type="submit" value="Like">
      </form>
    <p>Likes: {{this.likes}}</p>
    </br> {{formatDate this.createdAt}}
    <form id="comment-form" action="/posts/comment/{{this.id}}" method="post">
      <input type="text" placeholder="Enter your comment" name="comment">
      <input type="submit" value="Comment">
    </form>
    <ul>
      {{#each this.comment}}
      <li> {{this.comment}}
      </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
