{{#if this.user}}
<p>You are signed in: {{this.user.username}}</p>
{{/if}}

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
	  <li>{{breaklines this.message}}
      <form id="like-form" action="/posts/like/{{this.id}}" method="post">
        <input type="submit" value="Like">
      </form>
    <p>Likes: {{this.likes}}</p>
    </br> {{formatDate this.createdAt}} </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
